* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

/* HEADER */

.nav-buttons-right {
    text-align: right;
    padding: 13px 10px;
    height: 50px;
}

.nav-buttons-right button {
    font-size: 12px;
    background-color: #4b4c4f;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-align:center;
}

/* MAIN */

.main-container {
    display: flex;
}

.switch-left ,.switch-right {
    position: absolute;
    background-color: black;
    text-align: center;   
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
}

.switch-left {
    left: 0px;
}

.switch-right {
    right: 0px;
}

.switch-left h1 ,.switch-right h1{
    font-size: 70px;
}

.users-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
    position: relative;
}

.user {
    border: solid black;
    height: 150px;
    width: 200px;
    background-color: blueviolet;
    position: relative;
}

.user img {
    width: 100%;
    height: 100%;
}

.user p {
    position: absolute;
    max-width: 80%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    
}





/* FOOTER */

.footer-container {
    height: 50px;
    background-color: #232427;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-button-box {
    display: inline-flex;
    padding: 0 10px
}

.footer-button-content {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-button-content i{
    font-size: 20px;
}

.footer-button-arrow {
    line-height: 50px;
    padding-left: 5px;
}

.fa-share-square {
    color: lime;
}

.footer-right {
    background-color: #4b4c4f;
    text-align: right;
    color: rgb(255, 29, 29);
    padding: 0 10px;
    line-height: 50px;
}



