* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

/* HEADER */

.nav-buttons-right {
    text-align: right;
    padding: 15px 10px;
    height: 57.6px;
}

.nav-buttons-right button {
    font-size: 15px;
    background-color: #4b4c4f;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    text-align:center;
}

/* MAIN */

.main-container {
    display: flex;
}

.switch-left ,.switch-right {
    position: absolute;
}

.switch-left {
    left: 0;
}

.switch-right {
    right: 0;
}

.main-container {
    
}

.users-container {
    width: 100%;
    height: calc(100vh - 107.6px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: auto;
    position: relative;
}

.user {
    border: solid black;
    height: 120px;
    width: 270px;
    background-color: blueviolet;
}

.footer-container {
    height: 50px;
    background-color: lime;
}


